body {
    text-align: center;
    background-color: black;
    color: white;
}
.options{
    color: white;
    background-color: black;
    border-radius: 2px;
    margin: 5px;
    padding: 10px;
    font-size: 25px;
    border: white solid 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#menu{
    position: fixed;
}

time {
    font: 125px monospace;
    color:white;
    background-color: black;
    margin-left: 300px;
    margin-right: 0px;
}
#reloj{
    background-color: black;
}
button{
    color: white;
    background-color: black;
    border-radius: 2px;
    border: white solid 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover{
    color: white;
    background-color: black;
    border-radius: 2px;
    border: white solid 2px;
    box-shadow: 0 1px 10px 0 rgba(255,255,255),0 1px 20px 0 rgba(255,255,255);
}

option, select{
    color:white;
    background-color:black;
    font: 125px monospace;
    text-align: center;
}